@import "animations.scss";

html {
    width: 100%;
    height: 100%;
    display: flex;
}

body, #app {
    flex: 1;
    margin: 0;
    display: flex;
    background-color: #FFF;
    font-family: Futura PT,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto;
}

#chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #FBFAFC;
}

#chat-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: transparent;
}

#chat-header-container img {
    height: 90px;
}

#chat-container {
    display: flex;
    flex: 1;
    overflow-y: hidden;
    background-color: #FBFAFC;
    padding: 10px;
}

.chat-message-container {
    flex: 1;
    display: flex;
}

.chat-message {
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    width: max-content;
    max-width: 300px;
    box-shadow: 0 3px 10px rgba(25, 17, 34, 0.10);
}

.chat-message.receiver {
    background-color: #EEE;
}

.chat-message.sender {
    color: #FFF;
    background-color: #4EA0FF;
}

#chat-input-container {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 10px;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(25, 17, 34, 0.05);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
                padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                        transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
                        padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                     box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
                     padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#chat-input-container:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 42px rgba(25, 17, 34, 0.1);
    -webkit-transform: translateY(-4px);
}

#chat-input-container:focus {
    box-shadow: 0 3px 10px rgba(25, 17, 34, 0.05);
    transform: translateY(0);
    transition: -webkit-transform 50ms,transform 50ms;
    -webkit-transform: translateY(0);
    -webkit-transition: -webkit-transform 50ms,transform 50ms;
}

#chat-input-container #chat-input {
    width: calc(100% - 100px);
    height: 100%;
    border: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: Futura PT,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto;
    font-size: 16px;
}

#chat-input-container #chat-input:focus {
    outline: none;
}

#chat-input-container #chat-send-button {
    width: 60px;
    height: 100%;
    border: none;
    padding-right: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 16px;
    color: #FFF;
    background-color: #4EA0FF;
}

#chat-input-container #chat-send-button:active {
    background-color: #3995ff;
}

#chat-input-container #chat-send-button:focus {
    outline: none;
}